<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Word Guesser</title>
    <link rel='stylesheet' type='text/css' href='reset.css' />
    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>
  <body>
    <h1>Guessing Game</h1>
    <%= yield %>
    <br/>
    <p><a href="/new">New Game?</a></p>
  </body>
</html>