<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Word Guesser</title>
    <link rel='stylesheet' type='text/css' href='reset.css' />
    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>
  <body>
    <%= yield %>
  </body>
</html>